<div class="container">
  <h1>Hello, <%=@user.name%></h1>

  <div class="flaticon-factory6"></div>
  <div class="flaticon-map32"></div>




  <section id='loc_ind'>

    <ul id="location" >
      <h2>Locacion</h2>
      <% @unique_locations.each do |locale| %>
        <li><a class="options" data-type="location" href="#"><%= locale %></a></li>
      <% end %>
    </ul>

    <ul id="industry">
      <h2>Industria</h2>
      <% @unique_industries.each do |industry| %>
        <li><a class="options" data-type="industry" href="#"><%= industry %></a></li>
      <% end %>
    </ul>
  </section>
  <section id='img_holder'>
  </section>
</div>


