/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #login {
  width: 25%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  text-align: center;
  background-color: #d9eaf4;
 }

 #login h1 {
  text-align: center;
 }

 #login a {
  padding: 20px, 35px;
  font-size: 20px;
  text-decoration: none;
  color: white;
 }

 #login a:hover {
  color: black;
 }

 #login button {
  background: #449ac8;
  margin-bottom: 30px;
  border-radius: 5px;
 }

 body {
  background-image: url('connect.png');
 }
