/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #login {
  width: 25%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  text-align: center;
  background-color: #d9eaf4;
 }

 #login h1 {
  text-align: center;
 }

 #login a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
 }

 #login a:hover {
  color: black;
 }

 #login button {
  background: #449ac8;
  margin-bottom: 30px;
  border-radius: 5px;
 }

 body {
  background-image: url('connect.png');
  font-family: 'Raleway', sans-serif;
 }

.container {
  max-width: 70%;
  border: 1px solid black;
  margin: 25px auto;
}

.container h1{
  text-align: center;
}

.container div {
  padding: 60px 70px;
  margin:10px;
  border: 3px solid black;
  display: inline-block;
  border-radius: 250px;
  margin: 0 9% 50px 9%;
  background-color: #449ac8;
  cursor: pointer;
}

#industry {
  display: none;
}

#location {
  display: none;
}
